opencv-python
matplotlib
albumentations
segmentation-models-pytorch
flask
Pillow
tqdm
scikit-learn
psutil
tqdm
albumentations
segmentation_models_pytorch
pandas
# optional but recommended
tensorboard
